
!    *----------------------------*
!    |  Dotfiles  -  .Xresources  |
!    *----------------------------*


! This files contains configuration for:
!  * terminal colours
!  * urxvt
!  * rofi


! === Font ===

! *font:          xft:inconsolatazi4:size=18


! === Colours ===

! main
*.cursorColor:  #000000
*background:    #5d729f
*foreground:    #34405a

! black
*color0:        #151520
*color8:        #3c3c5c
! red
*color1:        #5e73a0
*color9:        #82a0df
! green
*color2:        #5671a0
*color10:       #789ee1
! yellow
*color3:        #5b70a0
*color11:       #7f9cdf
! blue
*color4:        #4c6ea0
*color12:       #6c9ce3
! magenta
*color5:        #7a7fa0
*color13:       #a5abd8
! cyan
*color6:        #5471a0
*color14:       #769fe1
! white
*color7:        #8581a0
*color15:       #b2add7


! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       xfce4-terminal 
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        80
rofi.width:                          100
rofi.lines:                          5
rofi.columns:                        2
rofi.font:                           System San Francisco Display 16
rofi.fg:                             #1f222d
rofi.bg:                             #252936
rofi.eh:			     2	
rofi.fg-active:                      #1f222d
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #CC1f222dd
rofi.bg-active:                      #CC1f222dd
rofi.bg-urgent:                      #CC1f222dd
rofi.hlbg-active:                    #CC1f222dd
rofi.hlbg-urgent:                    #CC1f222dd
rofi.bgalt:                          ##CC1f222d
rofi.hlfg:                           ##CC1f222d
rofi.hlbg:                           ##CC1f222d
rofi.bc:                             #CC1f222d
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #CC1f222d, #CC1f222d, #CC1f222d #CC1f222d, #CC1f222i
rofi.color-normal: #CC353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #CC353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #CC1f222d,      #CC252936
rofi.bw:                             0
rofi.location:                       0
rofi.padding:                        350
rofi.fake-transparency:		     false
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3
